<body>
    <header>
        <div class="holder">
            <img src="img/nuevologo25.png" width="200" alt="B&DM Abogados">
            <h1>Estudio Jurídico</h1>
        </div>
    </header>
    <nav>
        <div class="holder">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="nosotros.html">Nosotros</a></li>
                <li><a href="galeria.html">Galeria</a></li>
                <li><a class="activo" href="novedades.html">Novedades</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    </main>
    <footer>
        <p>Diseñado por Micaela Rapisardi - &copy;2025</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
</body>